<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}TripPlanner{% endblock %}</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-items">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TripPlanner</a>
        </div>
        <div id="nav-items" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- <li><a href="/wiki/">index</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="container content">
      {% block content %}{% endblock %}
    </div>
    <hr/>
    <div id="footer" class="container text-muted">
      Trip Planner
    </div>
    <script src="jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo4zXR77-nEdYmrs2dDrcZgxDgi7YaZGQ"></script>
    <script src="js/maps.js"></script>
  </body>
</html>
